% include layout %


% block('content') %
<div class="container mt-4">
    <h1>Contactez-Nous</h1>
    <!-- Inclure ici un formulaire de contact ou des informations de contact -->
</div>
% endblock() %